.miners {
    align-content: center;
    border-collapse: collapse;
    border: 2px solid black;
    margin-left:auto;
    margin-right:auto;
}

h1, p {
    text-align: center;
}

.miners th {
    border: 2px solid black;
}

.miners td {
    border: 1px solid black;
}
